<h2><center>Add another address:</center></h2>
<%= form_for([@contact, @contact.addrs.build]) do |f| %>
  <p><center>
  <%= f.label :address %>
    <%= f.text_area :address %>
    </center>
  </p>
  <p><center>
    <%= f.label :country %>
    <%= f.text_field :country%>
    </center>
  </p>
   <p><center>
    <%= f.label :phone %>
    <%= f.text_field :phone%>
    </center>
  </p>
  <p><center>
    <%= f.submit %>
    </center>
  </p>
<% end %>