<h1><center>New contacts</center></h1>
<%= form_for :contact, url: contacts_path do |f| %>
  <p><center>
    <%= f.label :firstname %>
    <%= f.text_field :firstname, placeholder: 'firstname' %>
    </center>  
  </p>
 
  <p><center>
    <%= f.label :lastname %>
    <%= f.text_field :lastname, placeholder: 'lastname' %>
    </center>
  </p>
   <p><center>
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: 'user@domain.com' %>
    </center>
  </p>
   <p><center>
    <%= f.label :address %>
    <%= f.text_area :address, placeholder: 'address'  %>
    </center>

  </p>
  <p><center>
  <%= f.label :country%>
    <%= f.text_field :country, placeholder:'country'%>
    </center>
  </p>
 
  <p><center>
    <%= f.label :phone %>
    <%= f.text_field :phone, placeholder:'phone' %>
    </center>
  </p>
 
  <p><center>
    <%= f.submit %>
    </center>
  </p>
<% end %>

