<h1>Listing contacts</h1>
 
<table class="table table-bordered">
<thead>
  <tr>
    <th>Firstname</th>
      <th>Lastname</th>
    
    <th>Email</th>
    <th>Address</th>
    <th>Country</th>
    <th>Phone</th>
  </tr>
  </thead>
 
  <% @contacts.each do |contact| %>
  <tbody>
    <tr>
    <td>
        <%=  contact.firstname %></td>
        <td><%=  contact.lastname %>
        
        </td>
     
      <td><%= contact.email %></td>
      <td><%= contact.address %></td>
      <td><%= contact.country %></td>
      <td><%= contact.phone %></td>
      
      <td><%= link_to '<button type="button" class="btn btn-info >show</button>'.html_safe, contact_path(contact)  %>

      <button type="button" class="btn btn-info">Show</button></td>
       <td><%= link_to '<button type="button" class="btn btn-danger >delete</button>'.html_safe, contact_path(contact),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
              <button type="button" class="btn btn-danger">Delete</button></td>
</td>
<td><%= link_to '<button type="button" class="btn btn-info >edit</button>'.html_safe, edit_contact_path(contact)  %>

      <button type="button" class="btn btn-info">edit</button></td>


    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to '<button type="button" class="btn btn-primary >New Contact</button>'.html_safe, new_contact_path  %>
<button type="button" class="btn btn-primary">New Contact</button>
 <%= link_to '<button type="button" class="btn btn-primary >New Contact</button>'.html_safe,contacts_path  %>
<button type="button" class="btn btn-primary">AllContacts</button>