
<%= render 'form' %>

 <center><%= link_to '<button type="button" class="btn btn-primary >New Contact</button>'.html_safe,contacts_path  %></center>
<button type="button" class="btn btn-primary">AllContacts</button>