<h1><center>Contacts</center></h1>

<p><center>
<strong>Firstname:</strong>
<%=  @contact.firstname %>
</center>
</p>
<p>
<center>
<strong>Lastname:</strong>
<%=  @contact.lastname %>
</center>
</p>
<p><center>
<strong>Email:</strong>
<%=  @contact.email %></p>
</center>
</p>
<p><center>
<strong>Address:</strong>
<%= @contact.address %>
</center>
</p>
<p><center>
<strong>Country:</strong>
<%= @contact.country %>
  
</center>
  
</p>
<p><center>
<strong>Phone:</strong>
  <%= @contact.phone %></center> 
</p>
 <% if @contact.addrs.present? %>

 <h><center>Another contact adress </center></h2>
 <% @contact.addrs.each do |address| %>
<p>
<center>
  <strong>Address:</strong>
  <%= address.address %>
  </center>
</p>
<p><center>
  <strong>Phone:</strong>
  <%= address.phone %></center>
</p>
<p><center>
  <strong>Country:</strong>
  <%= address.country %></center>
</p>
<% end %>
<% end %>

<%= render 'address' %>

 <center><%= link_to '<button type="button" class="btn btn-primary >New Contact</button>'.html_safe, new_contact_path  %></center>
<button type="button" class="btn btn-primary">New Contact</button>
 <%= link_to '<button type="button" class="btn btn-primary >New Contact</button>'.html_safe,contacts_path  %>
<button type="button" class="btn btn-primary">AllContacts</button>
<%= link_to '<button type="button" class="btn btn-primary >Back</button>'.html_safe,contacts_path  %>
<button type="button" class="btn btn-primary">Back</button>

